<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Ria's Cakes</title>
	<link rel="apple-touch-icon" sizes="180x180" href="static/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
	<link rel="manifest" href="static/site.webmanifest">
	<link rel="stylesheet" href="static/style.css">
</head>
<body>
	<nav>
		<ul class="topnav">
			<li><a href="/">Home</a></li>
			<li><a href="/Contact" >Contact</a></li>
			<li class="right"><a class="active" href="/News" >News</a></li>
			<!-- <li class="right"><a href="#about">About</a></li> -->
		</ul>
	</nav>
<script src="static/Script.js"></script>
</body>
</html>
